html {
  -webkit-font-smoothing: anti-aliased;
  font-smoothing: anti-aliased;
}

body {
	background: #fff;
  font: normal 1rem sans-serif;
  line-height: 1.5;
  color: #555;
  text-align: center;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

h1,h2,h3,h4 {
  position: relative;
  color: $blue;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;  
}

.right {
  float: right;
  margin-right: 20px;
}

p.txt {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

abbr {
  border-bottom: 1px dotted #555;
}