body {
  overflow: hidden;

  @include respond-to( mobile ){
    overflow: auto;

    .page {
      display: none;
    }
  }
}

.page {
  @extend %clearfix;
  min-height: 100%;
  width: 100%;

  @include respond-to( mobile ){
    padding-top: 110px;
  }
}

.global-nav {
  // layout
  position: fixed;
  top: 0; left: 0; bottom: 0;

  width: 150px;
  padding: 20px;
  overflow: hidden;
  
  z-index: 100;

  // style
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,.2);
  @include background-image( linear-gradient( lighten($blue,20%), lighten($blue,0%) ) );
  @include box-shadow( inset 0px 0px 50px rgba(0,0,0,.2) );


  > img { width: 150px; }
  > h1 {
    font-size: 2em;
    max-width: none;
    color: #fff;
  }

  a {
    color: #fff;
  }

  @include respond-to( mobile ){
    width: 100%;
    padding: 20px 0;
    height: 75px;
    bottom: auto;
    text-align: left;

    img {
      width: 75px;
      float: left;
      margin-right: 25px;
    }
  }
}

.wrapper {
  padding-left: 190px;

  @include respond-to( mobile ){
    padding-left: 0;
    padding-top: 130px;
  }
}


.v-align {
  display: table;

  > .mid {
    display: table-cell;
    vertical-align: middle;
  }
}

.loading {
  background: #fff url('/assets/ajax-loader.gif') center center no-repeat;
}

.credits {
  position: absolute;
  left: 20px; right: 20px;
  bottom: 10px;
  font-size: .62em;
  
  > a {
    border-bottom: 1px dotted;
  }

  @include respond-to( mobile )
  {
    top: 20px; right: 20px;
    left: none; bottom: none;
    text-align: right;
  }
}