!!!
%html
  %head
    %title TnwPresents
    = stylesheet_link_tag    "application", :media => "all"
    = requirejs_include_tag "application"
    = csrf_meta_tags

  %body

    %a#logo

    %div.wrapper
      = yield
